@page "/archetype/{ArchetypeId:int}"

<header>
    <img src=@imgLink class="weapon-type-icon">
    <h1>@CurrentArchetype.Name</h1>
</header>
<main>
    <BuffsManager ArchetypeId="@ArchetypeId"></BuffsManager>
    <div class="damage-checker">
        <DamageMenu></DamageMenu>
    </div>
</main>

@code {
    [Parameter]
    public int ArchetypeId { get; set; }
}
