header {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em;
	justify-content: flex-end;
	align-items:center;
}

	header h1 {
		color: white;
		font-weight: 700;
	}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 60px;
	width: 100%;
}

* {
	margin: 0;
	font-family: Arial;
}


.damage-checker {
	width: 500px;
}

.weapon-type-icon{
	height:3em;
}

@media (max-width:800px) {
	main {
		flex-direction: column;
		align-content: center;
		padding: 10px;
		flex-wrap: wrap;
	}

	header {
		flex-direction: row;
		justify-content: center;
	}
}
