@page "/archetype/{ArchetypeId:int}"

<header>
    <img src=@imgLink class="weapon-type-icon">
    <h1>@CurrentArchetype.Name</h1>
</header>
<main>
    <CascadingValue Value="@ArchetypeId" Name="ArchetypeId">
        <BuffsManager></BuffsManager>
    </CascadingValue>
    <div class="damage-checker">
        <DamageMenu CurrentArchetype="@CurrentArchetype"></DamageMenu>
    </div>
</main>

@code {
    [Parameter]
    public int ArchetypeId { get; set; }
}
