header {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em;
	justify-content: flex-end;
	align-items:center;
}

	header h1 {
		color: white;
		font-weight: 700;
	}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 60px;
	width: 100%;
}

* {
	margin: 0;
	font-family: Arial;
}


.damage-checker {
	width: 500px;
	max-width:100%;
}

.weapon-type-icon{
	height:3em;
}

.perk-summary {
	backdrop-filter: blur(4px);
	background-color: rgba(57, 57, 57, 0.9);
	position: absolute;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content:center;
	color:white;
	font-family:Arial;
	font-weight:400;
	width: 300px;
	padding:10px;
}

.perk-summary h4{
	text-align:center;
	padding-bottom:4px;
	font-weight:700;
	border-bottom:2px solid white;
}

.buff-manager{
	width:600px;
}

#comparer_button {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: none;
	font-weight: bold;
	background-color: rgba(57, 57, 57, 1);
	color: cyan;
	margin-top:10px;
	transition: 0.2s;
}

	#comparer_button:hover {
		background-color: aqua;
		color: rgba(57, 57, 57, 1)
	}

@media (max-width:100em){
	#bonus-damage-checker {
		display: none;
	}
}

@media (max-width:800px) {
	main {
		flex-direction: column;
		align-content: center;
		padding: 10px;
		flex-wrap: wrap;
		gap:10px;
	}

	header {
		flex-direction: row;
		justify-content: center;
	}

	.damage-checker{
		width:100%;
	}

	.buff-manager{
		width:100%;
	}
}
