@page "/comparer"

<h3>Comparer</h3>

<div class="units-container">
	@foreach (var containerUnit in GetContainerUnits())
	{
		<div class="unit">
			<CompareDisplay ContainerUnit="containerUnit" OnDeleteUnit="DeleteUnit"></CompareDisplay>
		</div>

	}
</div>


@code {
	public async void DeleteUnit(ContainerUnit containerUnit)
	{
		Container.DeleteUnit(containerUnit);
		//await SaveContainer();
	}
}
