@page "/"

<div class="manual">
	<h1 style="font-weight:bold">Hello, it's Destiny 2 Damage Checker!</h1>
	<p>There you can choose archetype, after that add some buffs and perks and watch damage changes!</p>
	<p>Data was taken from this spreadsheets:</p>
	<a href="https://docs.google.com/spreadsheets/d/1i1KUwgVkd8qhwYj481gkV9sZNJQCE-C3Q-dpQutPCi4/edit#gid=33320321">Destiny 2 Damage Buffs Debuffs </a>
	<a href="https://docs.google.com/spreadsheets/d/1WaxvbLx7UoSZaBqdFr1u32F2uWVLo-CJunJB4nlGUE4/edit#gid=441434520">Destiny data compendium</a>
	<a href="https://docs.google.com/spreadsheets/d/1_6zsM7kzvg0aUT8YtM_-Wg_5K1gKDOlrwfVzutEjq-s/edit#gid=388764678">Massive Breakdown's Destiny 2 Weapon Stats Spreadsheet</a>
	<a href="https://docs.google.com/spreadsheets/d/1b57Hb8m1L3daFfUckQQqvvN6VOpD03KEssvQLMFpC5I/edit#gid=282634418">Destiny 2 Outgoing Damage Scaling Spreadsheet v1.3</a>
</div>

