@namespace DamageChecker.Components

<div class="add-buffs-menu" style=@heightStyle>
    <div class="add-buffs-header">
        <h1>ADD BUFFS</h1>
        <div class="search-area">
            <button class="search-button">
                <img id="search-icon" src="css/icons/search.svg" />
            </button>
            <input class="search-text-field" @bind-value=@query placeholder="SEARCH BUFFS..." />
        </div>
        <button class="apply-button" @onclick="OnApplyCallback">APPLY</button>
    </div>
    <div class="add-buffs-main">
        @foreach(string key in buff_selectors_style.Keys)
        {
            <div class="buff_selector">
                <h2 @onclick="()=>HideBuffList(key)">@key</h2>
                <div class="buffs-list" style="@buff_selectors_style[key]">
                    @for (int i = 0; i < 20; i++)
                    {
                        <div class="buff-container">
                            <div class="buff_icon">
                                <img src="css/icons/perk.svg">
                            </div>
                            ADRENALINE JUNKIE
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>
    

@code {
    private string query="";

    private string heightStyle="height: 0;";

    //Dictionary, where key is    buff_selectors_header and value is inner buff_list style
    private Dictionary<string, string> buff_selectors_style = new Dictionary<string, string>();

    private string hideSelectorStyle = "padding:0;";

    private string showSelectorStyle = "max-height: 100vh;";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        buff_selectors_style["DAMAGE WEAPON PERKS"] = showSelectorStyle;
        buff_selectors_style["EMPOWERING BUFFS"] = showSelectorStyle;
        buff_selectors_style["GLOBAL DEBUFS"] = showSelectorStyle;
    }



    //Hide or show buff list in selector
    private void HideBuffList(string selectorName)
    {
        if (buff_selectors_style[selectorName] == hideSelectorStyle)
        {
            buff_selectors_style[selectorName] = showSelectorStyle;
        }else{
            buff_selectors_style[selectorName] = hideSelectorStyle;
        }

    }

    //event that hapenns when apply button is clicked
    [Parameter]
    public EventCallback OnApplyCallback { get; set; }

    ///hide this component
    public void Hide(){
        heightStyle = "height: 0;";
    }

    ///show this component
    public void Show(){
        heightStyle = "";
    }
}
