@namespace DamageChecker.Components

<div class="add-buffs-menu" style=@addBuffHideStyle>
    <div class="add-buffs-header">
        <h1>ADD BUFFS</h1>
        <div class="search-area">
            <button class="search-button">
                <img id="search-icon" src="css/icons/search.svg" />
            </button>
            <input class="search-text-field" @bind-value=@query placeholder="SEARCH BUFFS..." />
        </div>
        <button class="apply-button" @onclick="OnApplyCallback">APPLY</button>
    </div>
    <div class="add-buffs-main">
        @foreach(string key in buff_selectors_style.Keys)
        {
            <div class="buff_selector">
                <h2 @onclick="()=>HideBuffList(key)">@key</h2>
                <div class="buffs-list" style="@buff_selectors_style[key]">
                    @foreach(Perk perk in archetypePerks)
                    {
                        <div class=@(Buffs.HavePerk(perk.Id)? "buff-container-selected" :"buff-container") 
                        @onclick="()=>ClickPerk(perk)">
                            <div class="buff_icon">
                                <img src="css/icons/perk.svg">
                            </div>
                            @(perk!=null? perk.Name.ToUpper() : "")
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>
    

@code {

}
