* {
	font-family: Arial;
	box-sizing: border-box;
}

h1{
	font-weight:700;
	color:cyan;
}

.buff-manager {
	backdrop-filter: blur(4px);
	background-color: rgba(69, 69, 69, 0.8);
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	width:100%;
	max-width:100%;
	color:white;
	font-weight:bold;
	padding-top:10px;
	height:auto;
}

.add-buffs-button {
	background: rgb(60,228,255);
	background: radial-gradient(circle, rgba(60,228,255,1) 62%, rgba(95,146,255,1) 100%);
}

::-webkit-scrollbar {
	width: 1vw;
}

::-webkit-scrollbar-thumb {
	background-color: cyan;
}

	::-webkit-scrollbar-thumb:hover {
		background-color: cornflowerblue;
	}

.buff_icon{
	background-color:#1d1d1d;
	height:40px;
	width:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	border:1px solid white;
	background-color:rgba(57, 57, 57, 1);
	margin-right:10px;
}

	.buff_icon img {
		height: 100%;
		width: 100%;
	}

.buff_name{
	width:200px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}

.buff-container{
	border-color:cyan;
}

.buff-percent{
	color:rgba(255, 230, 0, 1);
}

.buff-pvp-percent {
	color: rgba(255, 230, 0, 1);
}

.buff-container,.combined-buff-result{
	width:100%;
	height:60px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin-bottom:10px;
	padding:10px;
	border:solid 1px cyan;
	border-left:none;
	border-right:none;
}

.add-buffs-button{
	width:100%;
	height:60px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	padding:10px;
	border:none;
	font-weight:bold;
	color:rgba(57, 57, 57, 1);
}

.add-buffs-button:hover{
	background:cornflowerblue;
}

.combined-buff-result{
	color:rgba(255, 230, 0, 1);
	border-color:rgba(255, 230, 0, 1);
	justify-content:center;
}

select {
	background: none;
	color: white;
	border: 1px solid cyan;
	transition: 0.1s;
	text-align: center;
	font-size: 15px;
	font-weight:700;
}

	select:focus, select:hover {
		outline: none;
		color: cyan;
	}

option {
	background-color: #393939;
	color: white;
	transition: 0.1s;
	font-weight: 700;
}


.bottom-bar {
	position: fixed;
	z-index: 90;
	bottom: 0;
	left:0;
}