<div class="display-damage">
	<img class="target-image" src=@(IsPve? OgrImage : HunterImage)/>
	@if(Damage!=null){
		<div class="hit-damage" id=@(IsPve? "precison-damage" : "precison-damage-hunter")>
			<img src="css/icons/cross.svg" />
			<span class="damage-number">@((IsPve ? Damage.PvePrecisionBulletDamage : Damage.PvpPrecisionBulletDamage))</span>
		</div>
		<div class="hit-damage" id="body-damage">
			<img src="css/icons/cross.svg" />
			<span class="damage-number">@(IsPve ? Damage.PveBulletDamage : Damage.PvpBulletDamage)</span>
		</div>
	}
</div>



@code {
	private string targetImage;
	private string HunterImage = "css/icons/hunter.png";
	private string OgrImage = "css/icons/ogr.png";

	[Parameter]
	public ShotDamage Damage { get; set; }
	[Parameter]
	public bool IsPve { get; set; } = true;

	[Inject]
	public BuffSet Buffs { get; set; }
}
