@inherits LayoutComponentBase

<PageTitle>DamageChecker</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <BuffsManager></BuffsManager>
        <AddBuffs></AddBuffs>
    </main>
</div>
