@inherits LayoutComponentBase

<PageTitle>DamageChecker</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="ex">
            <div class="error-message">
                <p>@ex.Message</p>
                <p style="color:red">YOU HAVE TO RELOAD</p>
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code{
}
