@inherits LayoutComponentBase

<PageTitle>DamageChecker</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <header>
        <h1>ARCHETYPE NAME</h1>
    </header>
    <main>
        <BuffsManager OnAddBufsClick="@ShowAddBuffs"></BuffsManager>
    </main>
    <div class="bottom-bar" style=@bottomBarStyle>
        <AddBuffs OnApplyCallback="@HideAddBuffs" @ref="addBuffs"></AddBuffs>
    </div>
</div>

@code{
    private string bottomBarStyle = "";

    AddBuffs? addBuffs;

    private void HideAddBuffs(){
        if (addBuffs == null) return;
        addBuffs.Hide();
    }

    private void ShowAddBuffs()
    {
        if (addBuffs == null) return;
        addBuffs.Show();
    }
}
