.weapon-type-list{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    overflow-y:scroll;
}

.weapon-type-button {
    width: 95%;
    height: 30px;
    margin-bottom:5px
}

.search-button {
    border:none;
    padding: 0;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

#search-icon {
    height: 15px;
    width: 15px;
}

.search-text-field {
    margin-left:10px;
    border: none;
    height: 30px;
}

*{
    margin:0;
    box-sizing:border-box;
}

button:hover{
    background-color:aqua;
}

.search-area {
    padding:10px 10px 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #1e1e1e
}

.search-nav-menu {
    background-color: #3C3C3C;
    display:flex;
    flex-direction:column;
    height:100vh;
}