<button class="search-button" @onclick="ToggleNavMenu" style="@buttonDisplayParam">
    <img id="search-icon" src="css/icons/search.svg" />
</button>
<div class="search-nav-menu" style="@navMenuDisplayParam">
    <div class="search-area">
        <button class="search-button" @onclick="ToggleNavMenu" style="display:block">
            <img id="search-icon" src="css/icons/search.svg" />
        </button>
        <input class="search-text-field" @bind-value=@query placeholder="SEARCH WEAPON..."/>
    </div>
    <div class="weapon-type-list">
    @for(int i=0;i<18;i++){
        <button class="weapon-type-button" @onclick="()=>ShowArchetypes(i)">WEAPON TYPE</button>
    }
    </div>
</div>


@code {

    private string query="";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ShowArchetypes(int id){
    }
    private string navMenuDisplayParam = "";
    private string buttonDisplayParam = "display:none";

    private void ToggleNavMenu()
    {
        if (navMenuDisplayParam == "")
        {
            navMenuDisplayParam = "display:none";
            buttonDisplayParam = "";
        }
        else 
        {
            navMenuDisplayParam = "";
            buttonDisplayParam = "display:none";
        }
    }
}
