<div class="nav-menu">
    <button class="search-button" id="show_menu_button" @onclick="ToggleNavMenu" style="@buttonDisplayParam">
        <img id="search-icon" src="css/icons/search.svg" />
    </button>
    <div class="search-nav-menu" style="@navMenuDisplayParam">
        <div class="search-area">
            <button class="search-button" @onclick="ToggleNavMenu">
                <img id="search-icon" src="css/icons/search.svg" />
            </button>
            <input class="search-text-field" @bind-value=@query placeholder="SEARCH WEAPON..." />
        </div>
        <div class="weapon-navigator">
            <div class="weapon-type-list">
                @for (int i = 0; i < 18; i++)
                {
                    <button class="weapon-type-button" @onclick="()=>ShowArchetypes(i)">
                        <img src="css/icons/WeaponTypes/linear fusion rifle.svg" class="weapon-type-icon">
                        LINEAR FUSION RIFLE
                    </button>
                }
            </div>
            <div class="archetype-list" style="@archetypeDisplayParam">
                @for (int i = 0; i < 5; i++)
                {
                    <button class="weapon-type-button" @onclick="()=>LoadPage(i)">
                        <img src="css/icons/archetype_buffer.svg" class="archetype-icon">
                        ADAPTIVE
                    </button>
                }
            </div>
        </div>
    </div>
</div>



@code {

    private string query="";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string navMenuDisplayParam = "";
    private string buttonDisplayParam = "display:none";
    private string archetypeDisplayParam = "display:none";

    private void ShowArchetypes(int id){
        if (archetypeDisplayParam == "")
        {
            archetypeDisplayParam = "display:none";
        }
        else
        {
            archetypeDisplayParam = "";
        }
    }

    private void LoadPage(int id){

    }


    private void ToggleNavMenu()
    {
        if (navMenuDisplayParam == "")
        {
            navMenuDisplayParam = "display:none";
            buttonDisplayParam = "";
        }
        else 
        {
            navMenuDisplayParam = "";
            buttonDisplayParam = "display:none";
        }
    }
}
